.nav-bar {
  background: #181818;
  width: 70px;
  min-width: 70px;
  height: 100vh;
  position: relative;
  z-index: 3;
  box-shadow: 2px 0 20px rgba(255, 255, 255, 0.202);

  min-height: 500px;

  img {
    display: block;
    margin: 8px auto;
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 0 13px #fff;
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 280px;
    top: 50%;
    margin-top: -140px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #00d4ff;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }

    a.skills-link {
      &:after {
        content: 'SKILLS';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #fff !important;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #00d4ff;
        }
      }
    }
  }
}
